body {
  padding-top: 70px;
}

li {
  font-size: 15px;
}
label {
  margin-right : 8px;
  font-size: 15px;
}


.jumbotron {
  margin-top: 80px;
  color: #264d00;
  background-image: url('header.jpeg')
}

.ParksOnMap {
  margin-top: 80px;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.MiniBlog {
  margin-top: 80px;
  background: rgba(30,90,60,0.2);
  
}

.navbar-nav>li>a {
  line-height: 50px;
}

.navbar-nav>li>a {
    padding-top: 2px;
    padding-bottom: 2px;
}


.navbar {
  background:#00331a;
}

.column {
  float: right;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#add-pic {
  display: inline;
  margin-left: 2em;
}

